*{
    padding: 0;
    margin: 0;
    border: border-box;
}

body,html{
    font-family: 'Nunito', sans-serif;
    background-color: #007bff;
}

.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box{
    width: 550px;
    background: #FFF;
    border-radius: 5px;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 1.1rem;
    user-select: none;  /*Mouse não muda de forma*/
}

.quiz_box header .timer .time_seconds{
    font-size: 1.2rem;
    font-weight: 600;
    background: #343a40;
    height: 4;
    width: 45px;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: #FFF;
}

.quiz_box section .que_text{
    font-size: 1.55rem;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 5px 0;
    display: block;
}

section .option_list .button{
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    display: flex;
    margin-top: 3px;
    align-items: center;
    text-align: left;
    justify-content: left;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.quiz_box footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

.quiz_box footer .total_que span p{
    font-weight: 600;
    padding: 0 5px;
}

.score_text p.congratulations{
    /* padding: 2px 0; */
    font-weight: 600;
    font-size: 1.6rem;
} 

.total_que span p:first-child{
    padding-left: 0px;
}

footer .next_btn,
.finish_btn{
    height: 40px;
    padding: 0 14px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    outline: none;
    background: #007bff;
    cursor: pointer;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

footer .next_btn:hover,
.finish_btn:hover,
.restart:hover,
.quit:hover{
    background: #558dc9;
}

footer .next_btn{
    display: none;
}

.finish_btn{
    display: none;
}

.correct{
    background: #6cf79f;
}

.wrong{
    background: #fd7585;
}

.result_box{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
};

.complete_text > h1{
    font-size: 20px;
    font-weight: 400;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: center;
}

.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.score_text .buttons{
    display: flex;
    margin: 20px 0;
}

.buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #007bff;
    color: #FFF;
}

.option_list > i{
    color: #000;
    width: 300px;
}